<div class="container">
  <div class="row d-flex align-items-center vh-100">
    <div class="col-7">
      <img src=" <%= @product.image_url %> " alt="" class="img-fluid mx-auto d-block image-blend w-100">
    </div>
    <div class="col-5">
      <h1 class="mb-2 display-5 fw-bold"><%= @product.brand %></h1>
      <p class="lead">Here are your booking details.</p>

          <p class="lead">Number of days: <span class="fw-bold"><%= @booking.days %></span></p>
          <% if @booking.payment? %>
          <p class="lead">Status: <span class="fw-bold text-success">Paid</p>
          <% else %>
          <p class="lead">Status: <span class="fw-bold text-danger">Awaiting Payment</p>
          <% end %>
            <p class="lead">Booking N°: <span class="fw-bold"><%= @booking.id %></p>
            <p class="lead">Price: <span class="fw-bold"><%= @booking.product.price * @booking.days %></p>
          <% if !@booking.payment? %>
          <%= link_to "proceed to payment", booking_path(@booking), class: "btn btn-dark" %>
          <% end %>

          <% if @booking.user == current_user %>
          <% if !@booking.payment? %>
          <%= link_to "Edit" , edit_booking_path(@booking), class:"btn btn-outline-dark ms-3" %>
          <% end %>
          <%= link_to "Delete", booking_path(@booking), data: { turbo_method: "delete", turbo_confirm: "Are you sure you want to delete this product?" }, class: "btn btn-outline-danger ms-3" %>

          <% end %>
    </div>
  </div>
</div>
