<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://cdn.imgbin.com/4/9/13/computer-icon-monitor-icon-laptop-icon-ktYCUZSS.jpg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>


        <li class="nav-item">
          <%= link_to "All Laptops", products_path, class:"nav-item nav-link" %>
        </li>

          <% if current_user.renter? %>
        <li class="nav-item dropdown">
          <a href="#" class="nav-item nav-link" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Laptops", products_path(user_id: current_user.id), class: "dropdown-item" %>
              <%= link_to "My Bookings", bookings_path(user_id: current_user.id), class: "dropdown-item" %>
              <%= link_to "Add Laptops", new_product_path, class: "dropdown-item" %>
            </div>
        </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Apply to be a renter", root_path, class:"btn btn-dark btn-round mx-3" %>
          <% end %>
          </li>
          <li class="nav-item ">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-ghost " %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-ghost" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
