<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="container text-center text-secondary mt-5">
    <h1></h1>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Discover all laptops</h3>
  </div>
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-sm-6 col-md-4 mb-3">
            <img src="<%= product.image_url %>" class="card-img-top" style = "mix-blend-mode: darken" alt="...">
            <div class="card-body">
              <h5 class="card-title font-weight-bold mt-2">
                <%= product.brand %>
              </h5>
              <p class="card-text">
                <%= simple_format(product.specs) %>
              </p>
              <p class="card-text font-weight-bold">
                Rs <%= product.price %>
              </p>

              <% if product.availability?%>
                <p class="text-success font-weight-bold card-text text-uppercase ">Available</p>
              <% else %>
                <p class="text-danger card-text text-uppercase font-weight-bold">Not Available</p>
              <% end %>

              <div class="">
                <%= link_to "view details" , product_path(product), class:"btn btn-dark" %>
                <% if product.user == current_user %>
                <%= link_to "Edit" , edit_product_path(product), class:"btn btn-dark" %>
                <% end %>
                </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>

</div>
</div>
</div>