<div class="cover d-flex align-items-center justify-content-center">
  <div class="container text-secondary mt-5 margin-top">
    <h1>Discover all laptops</h1>
  </div>
</div>
<div class="container">
      <div class="row gx-5 gy-0">
        <% @products.each do |product| %>
          <div class="col-sm-6 col-md-4 mb-5">
            <img src="<%= product.image_url %>" class="card-img-top image-blend" alt="...">
            <div class="card-body">
              <h5 class="card-title fw-bolder my-2">
                <%= product.brand %>
              </h5>
                <% specs_lines = product.specs.lines[0..1] %>
                 <% specs_lines.each do |line| %>
                  <p class="card-text mb-0">
                  <%= line.chomp.split[0..6 ].join(' ') %>
                <% end %>
              </p>
              <p class="card-text fw-bolder my-1">
                Rs <%= product.price %>
              </p>

              <% if product.availability?%>
                <p class="text-success card-text text-uppercase">Available</p>
              <% else %>
                <p class="text-danger card-text text-uppercase">Not Available</p>
              <% end %>

              <div class="">
                <%= link_to "view details" , product_path(product), class:"btn btn-dark" %>
                <% if product.user == current_user %>
                <%= link_to "Edit" , edit_product_path(product), class:"btn btn-dark" %>
                <% end %>
                </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>

</div>
</div>
</div>