<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Discover available laptops</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My products</h3>
    <%= link_to "List your product", new_product_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-6 col-md-4 mb-3">
      <div class="card">
      <img src="<%= product.image_url %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= product.brand %></h5>
        <p class="card-text"><%= product.specs %></p>
        <%= link_to "view details", product_path(product), class:"btn btn-dark"  %>
      </div>
    </div>
        
            
          </div>
      </div>
    <% end %>


    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
  </div>
</div>
